POSTGRES_USER=user
POSTGRES_PASSWORD=Th1s_is_a_V3ry-S3cur3-P4ss
DB_PORT=5432
POSTGRES_DB=mydatabase
JWT_SECRET=mes-mini-super-secret-jwt-key-2026
CONTAINER_PORT=3000
HOST_PORT=5000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET_NAME=lite-mes

# Gmail setup (Keep these private - use placeholders or personal App Passwords)
GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASSWORD=your_app_password_here


# Gmail setup (requires App Password)
# GMAIL_USER=nguyennhuthang25121974@gmail.com
# GMAIL_APP_PASSWORD=nwfe gytf hrmn gtjj


# --- Prisma & Backend Configuration ---
# DATABASE_URL="postgresql://postgres.yrcobwomqngtkkbwfgjm:26112004ABCabc%21@aws-1-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
# DIRECT_URL="postgresql://postgres.yrcobwomqngtkkbwfgjm:26112004ABCabc%21@aws-1-us-east-2.pooler.supabase.com:5432/postgres"


# DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${DB_PORT}/${POSTGRES_DB}"
# DIRECT_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${DB_PORT}/${POSTGRES_DB}"





# --- Cloudflare R2 Configuration (Production only — do NOT uncomment for local dev) ---
# R2_ACCOUNT_ID=ec77a861c96a52ddb24b94a6492f7c80
# R2_ACCESS_KEY_ID=015476008b301b7e7842307b537f3211
# R2_SECRET_ACCESS_KEY=be7860c93b6787dda03fa8dea5629bc83a8d5e1bc5284a425948216c41f5197e
# R2_BUCKET_NAME=lite-mes
# R2_ENDPOINT=https://ec77a861c96a52ddb24b94a6492f7c80.r2.cloudflarestorage.com




# === After update schema ===
# docker compose exec backend npx prisma migrate dev --name your_migration_name
# docker compose exec backend npx prisma generate
# docker compose exec backend npx tsc --noEmit

# === QUICK START (after cloning) ===
# cp .env.example .env
# docker compose up --build
# docker compose exec backend npx prisma migrate dev

# npm install (only for prisma studio)
# npm run prisma-studio



# === Daily Development ===
# docker compose up
# docker compose down
# docker compose exec backend npx prisma migrate reset --force (reset + using migrations + no seed)
# docker compose exec backend npx prisma generate
# docker compose exec backend npx tsx prisma/scripts/seed.ts 
# docker compose exec backend npx tsc --noEmit
# npm run export -- --table=name_of_the_table

# i want you to list out the full path of all files in folder D:\program\mes-mini\backend\src\core
# now i want you to read all those files, then write a report to a new md file in folder D:\program\mes-mini\docs 
# about your understanding of those files
# === Testing ===
# docker compose exec backend npm run test
# docker compose exec backend npm run test -- tests/modules/purchaseOrders.test.ts
# docker compose exec backend npm run test -- tests/modules/purchaseOrders.test.ts tests/modules/materialRequests.test.ts tests/modules/productInduction.test.ts tests/modules/productionRequests.test.ts tests/modules/qualityControl.test.ts tests/modules/receivePO.test.ts tests/modules/workOrders.test.ts


# === Clean up (delete everything) ===
# docker compose down -v --rmi all --remove-orphans
# docker volume prune -f
# rm -r -fo src/generated, node_modules
